@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  background-color: #0f172a;
  color: #f8fafc;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

iframe[src^="https://accounts.google.com"] {
  background-color: transparent !important;
  color-scheme: light !important;
}

.S67S5ce-haAclf {
  background-color: transparent !important;
}